# **Data Structures - Tuples**

Within python, a tuple stands as an additional built-in and ordered collection type akin to a list. 
Nevertheless, the distinctions between list and tuples exists.

In [1]:
tuple = (10, 20, "kumar", "aiops", 12.25)

print(tuple)
print(type(tuple))

(10, 20, 'kumar', 'aiops', 12.25)
<class 'tuple'>

In [2]:
#tuples are immutable
tuple[1] = 30
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple + tuple

(10, 20, 'kumar', 'aiops', 12.25, 10, 20, 'kumar', 'aiops', 12.25)

In [5]:
tuple*2

(10, 20, 'kumar', 'aiops', 12.25, 10, 20, 'kumar', 'aiops', 12.25)

In [8]:
tuple[2]

'kumar'

In [9]:
tuple[1:4]

(20, 'kumar', 'aiops')

In [12]:
tuple.pop()
print(tuple)

AttributeError: 'tuple' object has no attribute 'pop'

In [13]:
tuple = tuple*2
print(tuple)

(10, 20, 'kumar', 'aiops', 12.25, 10, 20, 'kumar', 'aiops', 12.25)